#cart-item-container {
    display: flex;
    width: 100%;
    transition: 0.9s linear;
    cursor: pointer;
}

#cart-item-container:hover {
    border: 0.1px solid pink;
    transition: 1s linear;

}

#cart {
    width: 55%;
    height: 280px;
    border: 1px solid gold;
}

#cart-image-container {
    width: 60%;
    border: 0px solid green;
    height: 280px;
}

.cart-text-and-heading-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}